html {
  overflow: hidden;
  overflow-y: scroll;
}

@font-face {
    font-family: "Minecraft";
    src: url('Font/font.ttf') format('truetype');
}

h1 {
    margin: auto;
    font-family: "Minecraft", sans-serif;
    font-size: 2.5em;
    text-align: center; /* Відцентрування по горизонталі */
}
  
body{
    margin: 0;
    background-image: url('Img/background.webp');
    background-size: 1920px 1080px;
    background-repeat: repeat;
}
header {
    display: flex;
    flex-direction: row;
    background-image: url('Img/block.png');
    background-size: 200px 150px;
    background-repeat: repeat;
    width: 100%;
    height: 150px;
    filter: brightness(90%);
  }
  header .tablet_s {
    display: block; /* Зробити елемент блочним, щоб можна було задати ширину */
    width: 100px; /* Задайте ширину, яка підходить для вашого зображення */
    float: right; /* Вирівняти елемент з лівого боку */
    margin-right: 10px; /* Необов'язково: додатковий відступ праворуч */
  }
ul .button_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
  }

  .button_oak {
    cursor: pointer;
    margin: 45px;
    border: 0;
    width: 300px;
    height: 80px;
    background-image: url('Img/table.jpg');
    background-size: 200px 80px;
    background-repeat: repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Додано тінь */
  } 
  
  .button_oak_ip {
    cursor: pointer;
    margin: 45px;
    border: 0;
    width: 300px;
    height: 80px;
    background-image: url('Img/table.jpg');
    background-size: 200px 80px;
    background-repeat: repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Додано тінь */
  } 

.button_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.whide-box{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
  }
.tablet {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 550px;
    height: 300px;
    background-image: url('Img/table.jpg');
    background-size: 200px 80px;
    background-repeat: repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Додано тінь */
    filter: brightness(90%);
  }
  .tablet_s {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url('Img/table.jpg');
    background-size: 200px 80px;
    background-repeat: repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Додано тінь */
    filter: brightness(90%);
  }
  .tablet_s img {
    width: 100%;
    height: 100%;
  }
  .tablet_W {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1620px;
    height: 300px;
    background-image: url('Img/table.jpg');
    background-size: 200px 80px;
    background-repeat: repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Додано тінь */
    filter: brightness(90%);
  }
  .image img {
    width: 100%;
    height: auto;
    display: block;
  }
  .gallery {
    margin: auto;
    width: 550px;
    height: 300px;
    overflow: hidden;
  }
  h2 {
    width: 525px;
    margin: auto;
    font-family: "Minecraft", sans-serif;
    font-size: 1.1em;
    text-align: justify;
  }
  h3 {
    width: auto;
    margin: auto;
    font-family: "Minecraft", sans-serif;
    font-size: 1.1em;
    text-align: justify;
  }
  
  .rainbow {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  .s_imuga{
    margin: auto;
    width: 360px;
    height: 200px;
  }
  .s_imuga_c{
    margin: auto;
    width: 360px;
    height: 130px;
  }
  .s_imuga_i{
    margin: auto;
    width: 200px; 
    height: 75px;
  }
  .gif{
    margin: auto;
    width: 550px; 
    height: 300px;
  }
  .oak{
    margin: auto;
    background-image: url('Img/oak.jpg');
    background-size: 200px 80px;
    height: 400px;
    width: 50px;
  }
  .plank{
    background-image: url('Img/plank.png');
    background-size: 50px 50px;
    background-repeat: repeat;
    width: 100%;
    height: 50px;
    filter: brightness(90%); 
  }
  .img_list{
    display: flex;
    flex-direction: row;
  }
  .vidstup-50px{
    margin-bottom: 50px;
  }
  .vertical-line {
    width: 4px;
    height: 100%;
    background-color: black;
  }
  ul, .list_l{
    flex-direction: column;
  }
.whide{
  display: flex;
  flex-direction: row;
}
.prostor-10px{
  width: 550px;
}